<!-- home.html -->
      <header>
  <div class="wrapper">
    <div class="content">
      <hgroup>
        <h1>WELCOME TO AFROLYRICS</h1>
        <h2>Your number one community for African Lyrics</h2>
      </hgroup>   
      <div class="clear"></div>       
        <div class="read-on"><a href="#login" class="btn btn-large btn-block btn-inverse">Login</a>
        <a href="#signup" class="btn btn-large btn-block btn-danger">Sign Up</a>

<br><br><br></div><br>

<h2 style="color: #fff">....or keep touring the site</h2>
      <div class="clear"></div>
    </div>
  </div>
</header>

<div class="sectionteal">
<section>
  <div class="separator"> 
    <div class="line"></div>
    <h2>WHAT WE OFFER</h2>
    <div class="line"></div>
  </div>
  <div class="grid3">
    <article class="col">
      <figure><img src="img/collection.jpg" alt="free-html5-responsive-template"></figure>
      <h3>FANTASTIC COLLECTION, IN ONE PLACE</h3>
      <p>View from a collection of top lyrics; uploaded daily.

</p>
          </article>
    <article class="col">
      <figure><img src="img/request.jpg" alt="free-admin-template-psd"></figure>
      <h3>CAN'T FIND THAT LYRIC? REQUEST IT!</h3>
      <p> Request for a particular lyric you can't find, and our acive community will get to it.
</p>
    </article>
    <article class="col">
      <figure><img src="img/community.jpg" alt="free-professional-html5-cv-resume-template"></figure>
      <h3>JOIN THE VIBRANT COMMUNITY</h3>
      <p>By registering, you get member benefits. You can upload lyrics, post comments and view profiles

</p>
          </article>
  </div>
</section>
    </div>
